* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.background-container {
  display: flex;
  border: 2px solid black;
  width: 500px;
  height: 900px;
  position: relative;
}

.sidebar {
  display: flex;
  position: absolute;
  top: 200px;
  height: 180px;
  width: 500px;
  background: rgba(7,43,7,0.5);
}

.sidebar-icon {
  display: flex;
  flex: 1;
  justify-content: end;
}

@font-face {
  font-family: norse-bold;
  src: url(fonts/Norse-Bold.otf);
}

.sidebar-text {
  display: flex;
  flex: 1;
  color: white;
  align-items: center;
  font-family: norse-bold;
  font-size: 50px;
  font-weight: bolder;
}

.photo-credit {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0px;
  left: 120px;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 900px;
}

.header {
  /*border: 5px solid green;*/
  width: 700px;
  height: 300px;
  padding: 70px 20px;
  background-color: #f4f4f4;

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
  }

}

.form {
  /* border: 5px solid yellow; */
  width: 700px;
  height: 300px;

}

.field-container {
  display: flex;
  margin: 0px 0px 0px 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.fieldholder2 {
  position: relative;
  margin-bottom: 1.25em;

  input {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 2px solid lightgray;
    padding: 5px;
  }

  label {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
  }

  input:focus {
    outline: 0;
    border-color: blue;
  }
  
}

.footer {
  /* border: 5px solid red; */
  width: 700px;
  height: 300px;
}

.create-account-button {
  margin: 30px;
  padding: 10px 50px;
  color: white;
  font-size: large;
  background-color: rgb(20, 66, 20);
  border-radius: 10px;
}

.already {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.link {
  margin: 0px 0px 0px 5px;
}